[2016-11-14 21:30] kylemellander opened #1 "Support for Mobile Gestures"
I would love to see some kind of support for mobile devices for gestures.  There would probably need to be different options for what kind of gestures you support, if any, and the implementation would need to not get too weighty.  The gestures I'd love to see are:

1. swipe open
2. swipe closed
3. pan opened
4. pan closed
5. menu grab area threshold

[2016-11-15 08:35] sandstrom opened #2 "Add link from demo to Github"
Awesome component! ⛵️

For simplicity you could add a link from the demo page to the [Github page](https://github.com/offirgolan/ember-burger-menu). I'm sure 95% can find it through a Google-search, but anyway :)

[2016-11-16 11:22] offirgolan commented on #2
Hi @sandstrom! Glad you like the addon 😸.

There is already a link in the demo site. Its the first link when you open up the menu but maybe thats too hidden? If so, I'll add it in another location!

[2016-11-17 08:40] sandstrom commented on #2
Ah, I see!

Obviously too hidden for me 😉  but I'll let you decide! (this is a minor thing to begin with)

[2016-11-17 23:14] jsArgus opened #3 "Burger icon not hidden when menu is opened"
Unlike the demo page the burger icon isn't hidden when the menu is opened (the <a> tag doesn't get a `burger-hidden` class). Is this added as a custom feature on the demo page? If so could this be added as an option?

[2016-11-19 10:17] offirgolan commented on #1
@kylemellander PR #4 includes the ability to swipe open / close the menu with some threshold options. The pan gesture might be a bit difficult to do so I will prolly need a good amount of time to find a suitable lightweight solution to it. In the meantime, I'll leave this issue open 😸.

[2016-11-19 10:26] offirgolan commented on #3
Hi there @jsArgus!

This addon doesnt actually handle how you you show / hide your menu icon. That is totally up to you but it does provide you all the information you need. Feel free to checkout the demo code to see exactly how it was done.

Below is the handlebars code used:

[code]

And this is the SASS:

[code]

Pretty simple 😄

[2016-11-19 11:17] jsArgus commented on #3
Great, thanks! It was a bit unclear to me what the addon is supposed to take of.

[2016-11-19 11:17] #3 closed

[2016-12-02 09:18] petrosp opened #5 "Compatibility with `ember-paper`"
Hi there,

This is quite an amazing addon, currently no other one out there can match its looks and configurability.

Are you aware of any compatibility issues with `ember-paper`?

No matter what, I did not manage to have them play together. Tried it even with a clean configuration, i.e. only  `ember-paper` installed and it seems like that `paper` stubbornly refuses to cooperate (or the other way

[2016-12-02 09:59] offirgolan commented on #5
Hi there! Glad you like the addon 😊! Im not really sure why they wouldn't
play nicely. If you can create a dummy app with both and share the repo, I
can investigate and see what's going on.
On Fri, Dec 2, 2016 at 8:18 PM Petros <notifications@github.com> wrote:

--
Thanks,
Offir Golan

[2016-12-19 01:21] timjcook opened #12 "Swipe Events - e.touches[0] is undefined"
Hi guys,

I'm having an issue where my swipe events aren't being handled correctly.
https://github.com/offirgolan/ember-burger-menu/blob/master/addon/mixins/swipe-support.js#L19

Seems as though `e.touches` has no elements, `Cannot read property '0' of undefined`

I've basically copy/pasted the demo menu from the docs and I'm still getting the issue. Any ideas?
I am on `1.0.0`.

Thanks for your wo

[2016-12-19 08:16] offirgolan commented on #12
@timjcook can you give me some more env info?

- Browser version
- Device version
- Ember version
- OS

[2016-12-19 23:18] timjcook commented on #12
@offirgolan sure thing
- I've definitely got the issue in Chrome (55.0.2883.95) and FF (50.1.0)
- Ember 2.7
- Mac OS Sierra (10.12)

[2016-12-21 02:28] #12 closed

[2016-12-21 02:29] offirgolan commented on #12
@timjcook fixed in `v1.0.1` 😸

[2016-12-21 02:43] timjcook commented on #12
@offirgolan legend! thanks :v:

[2016-12-21 02:43] offirgolan commented on #12
Haha np! Thanks for bringing this to my attention.

[2016-12-25 19:24] paulyoder opened #16 "Uncaught DOMException: Failed to execute 'postMessage' on 'MessagePort': An object could not be cloned."
I'm receiving this error when I installed the addon.

[code]

Any ideas what is causing this?

[2016-12-26 00:23] offirgolan commented on #16
@paulyoder I've never seen this issue before. Can you give me some more details here?

- Ember version
- Ember Burger Menu version
- A snippet of your template code

[2017-01-09 17:12] christophersansone commented on #16
I'm seeing this and can offer a bit more context.  For me, it occurs specifically when I am running Ember Inspector and have "Components" checked in the View Tree tab.  Toggling the "Components" checkbox from unchecked to checked will cause the error to occur every time for me.

I can reproduce it with a minimal template:

[code]

Removing the `menu.item` component will cause it to not fail, so it

[2017-01-09 21:52] offirgolan commented on #16
Hmmm okay I will take a look into this more now. @paulyoder thanks for providing some context on this.

Do you have Ember prototype extensions disabled in your app?

[2017-01-09 21:54] offirgolan commented on #16
@christophersansone can you upgrade to the latest version of this addon and see if you are still getting this issue?

[2017-01-11 20:16] whiskeysauer commented on #5
I've been testing and working with ember-paper as well. The sidenav is not bad, but this is just so much better. I've prototyped some other iterations of my app that are not pure MD and it does work. So I'll be curious to see some feedback on whether anyone got these to work together.

[2017-01-11 21:51] offirgolan commented on #5
@whiskeysauer I have yet to use ember-paper. Any chance you can create a dummy up with it demonstrating the issue you're facing and share it here so I can debug?

[2017-01-11 21:56] whiskeysauer commented on #5
I actually did get it to work while testing today. The only part I had an issue was with being able to see the toggle button. I think it's just a css issue and easily solved. I was able to toggle the menu using ember inspect in chrome.

[2017-01-11 22:12] offirgolan commented on #5
@whiskeysauer thats great news. Thanks for the update 😄

[2017-01-12 09:03] whiskeysauer commented on #5
Okay, so the thing to do is really easy. For icons, just change the Font Awesome icon class to a Material Design (paper) class and you're fine.

[2017-01-15 00:24] getaclue opened #22 "Help with setup"
Hey guys,

Was having trouble making this work in my project, so I decided to create a brand new 2.10 project to see if I can get it to work... and I still cannot.

What step am I missing?

I basically did:
[code]

then I went into application template and pasted the code from the documentations (just changed the links to index):
[code]

and went into index and pasted
[code]

when I navigate to `l

[2017-01-15 06:29] whiskeysauer commented on #22
The setup procedure looks okay, from what I can recall when I did my testing.

A couple things to do though that will likely help you know where the problem is.

- If you have not already done so, install [Ember Inspector](https://chrome.google.com/webstore/detail/ember-inspector/bmdblncegkenkacieihfhpjfppoconhi?hl=en). That will help you see what templates are rendering and from which routes.
- U

[2017-01-15 20:42] getaclue commented on #22
@whiskeysauer thanks for the feedback!

Yeap, I definitely did all of those things before coming back here. No errors =(
Since I am strapped for time, I ended up rolling out my own slide out menu... but I will check back here =)

[2017-01-17 02:05] offirgolan commented on #22
@getaclue your have a typo in your code.

[code]

Should be:

[code]

[2017-01-20 13:43] getaclue commented on #22
@offirgolan that partly worked thanks!!
That got the actual menu to show up (had to force it to open by default).
How do I get the menu button (the hamburger icon) to show up so I can toggle the actual menu?

[2017-01-20 20:36] offirgolan commented on #22
@getaclue you already have a button in the `{{burger.outlet}}`

[code]

I'm assuming you cant see that button because you dont have an `icon-menu` class. Try changing it to this:

[code]

[2017-01-20 21:34] getaclue commented on #22
@offirgolan oh okay, that makes sense... sorry I guess I misunderstood the fact that the `icon-menu` doesn't come with this.

Everything works now!!
Thank you for this menu!

Cheers
Alex

[2017-01-20 21:34] offirgolan commented on #22
@getaclue no worries! Glad everything is working now 😸

[2017-01-20 21:34] #22 closed

[2017-01-23 17:47] zardaloop opened #23 "There is no css style included in the package"
Hi Guys,
I followed the tutorial to use the code from here [https://github.com/offirgolan/ember-burger-menu#usage](url) and then replaced
`<a class="icon-menu" {{action burger.state.actions.toggle}}></a>`
with
`<button {{action burger.state.actions.toggle}}>button</button>`
since I don't have icon-menu class and without replacing it into button I can' see anything.
could someone please advise me w

[2017-01-24 08:25] offirgolan commented on #23
@zardaloop I'm sorry you're facing so many issues. This library only comes with barebone CSS just to get you up and running. All styles beyond that is up to you. Im sorry for the confusion as well from the readme, I've updated it to just include plain buttons with no icon classes as this library doesnt come with those either.

You are welcome to grab the main styles for the demo [here](https://git

[2017-01-25 10:03] aleyrizvi opened #24 "Can ember-burger-menu stays open?"
Hi,
It is not an issue but just a question.

My requirements are to keep burger-menu open until the viewport hits sm (I am using bootstrap grid or flexi if that matters)

Is there any class which I can toggle to keep it open and burger-icon hidden and only close burger menu based on criteria?

[2017-01-25 21:12] offirgolan commented on #24
Yeah it should support it out of the box. Just make sure to set the following options:

[code]

Then you can just use the burgerMenu service ([see README](https://github.com/offirgolan/ember-burger-menu#via-service)) to close the menu once your viewport reaches a specific size. You can also change the width of your menu via the service as your viewport width changes.

[2017-01-26 09:56] zardaloop commented on #23
@offirgolan  perfect that did the job. I added some more styles from the css but it works fine now :) thanks.  of course I also installed ember-font-awesome as well to make it more like what you have in your demo page :) Thanks.

[2017-01-26 18:53] offirgolan commented on #23
@zardaloop thats great to hear! Glad everything is working fine for you now 😄

[2017-01-26 18:53] #23 closed

[2017-01-27 21:33] offirgolan commented on #5
Im gonna go ahead and close this issue since it seems like this addon works fine with ember-paper. Feel free to reopen if needed.

[2017-01-27 21:33] #5 closed

[2017-01-27 21:34] offirgolan commented on #16
Closing as this issue has been abandoned. Feel free to reopen if needed.

[2017-01-27 21:34] #16 closed

[2017-01-27 21:34] #2 closed

[2017-02-01 22:56] greenkeeper[bot] opened #26 "An in-range update of ember-cli-qunit is breaking the build 🚨"
## Version **3.1.1** of [ember-cli-qunit](https://github.com/ember-cli/ember-cli-qunit) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/offirgolan/ember-burger-menu/compare/greenkeeper%2Fember-cli-qunit-3.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-cli-qunit
    </td>

[2017-02-04 22:56] greenkeeper[bot] opened #27 "An in-range update of ember-cli-babel is breaking the build 🚨"
## Version **5.2.2** of [ember-cli-babel](https://github.com/babel/ember-cli-babel) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/offirgolan/ember-burger-menu/compare/greenkeeper%2Fember-cli-babel-5.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-cli-babel
    </td>
  </t

[2017-02-08 01:35] #24 closed

[2017-02-08 01:37] offirgolan commented on #24
You can now used the `locked` option.

[code]

[2017-02-08 04:11] aleyrizvi commented on #24
Excellent!

Thank you for the udpate.

I can now test and use it without worrying :)

[2017-02-13 19:49] #26 closed

[2017-02-13 19:49] #27 closed

[2017-02-24 20:46] greenkeeper[bot] opened #33 "An in-range update of loader.js is breaking the build 🚨"
## Version **4.2.0** of [loader.js](https://github.com/ember-cli/loader.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/offirgolan/ember-burger-menu/compare/greenkeeper%2Floader.js-4.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      loader.js
    </td>
  </tr>
  <tr>
    <th al

[2017-02-25 04:03] greenkeeper[bot] opened #34 "An in-range update of ember-data is breaking the build 🚨"
## Version **2.11.3** of [ember-data](https://github.com/emberjs/data) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/offirgolan/ember-burger-menu/compare/greenkeeper%2Fember-data-2.11.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-data
    </td>
  </tr>
  <tr>
    <th alig

[2017-03-11 06:58] greenkeeper[bot] opened #39 "An in-range update of ember-cli-app-version is breaking the build 🚨"
## Version **2.0.2** of [ember-cli-app-version](https://github.com/embersherpa/ember-cli-app-version) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/offirgolan/ember-burger-menu/compare/greenkeeper%2Fember-cli-app-version-2.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-c

[2017-03-11 17:35] #33 closed

[2017-03-11 17:35] #34 closed

[2017-03-11 17:35] #39 closed

[2017-03-12 17:16] greenkeeper[bot] opened #40 "An in-range update of ember-cli-qunit is breaking the build 🚨"
## Version **3.1.2** of [ember-cli-qunit](https://github.com/ember-cli/ember-cli-qunit) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/offirgolan/ember-burger-menu/compare/greenkeeper%2Fember-cli-qunit-3.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-cli-qunit
    </td>

[2017-03-13 14:37] greenkeeper[bot] opened #41 "An in-range update of ember-data is breaking the build 🚨"
## Version **2.12.0** of [ember-data](https://github.com/emberjs/data) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/offirgolan/ember-burger-menu/compare/greenkeeper%2Fember-data-2.12.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-data
    </td>
  </tr>
  <tr>
    <th alig

[2017-03-16 12:47] greenkeeper[bot] opened #43 "An in-range update of ember-cli is breaking the build 🚨"
## Version **2.12.0** of [ember-cli](https://github.com/ember-cli/ember-cli) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/offirgolan/ember-burger-menu/compare/greenkeeper%2Fember-cli-2.12.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-cli
    </td>
  </tr>
  <tr>
    <th

[2017-03-17 19:30] greenkeeper[bot] opened #44 "An in-range update of ember-cli-htmlbars is breaking the build 🚨"
## Version **1.2.0** of [ember-cli-htmlbars](https://github.com/ember-cli/ember-cli-htmlbars) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/offirgolan/ember-burger-menu/compare/greenkeeper%2Fember-cli-htmlbars-1.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-cli-htmlbars

[2017-03-19 05:52] #40 closed

[2017-03-19 05:52] #41 closed

[2017-03-19 05:52] #43 closed

[2017-03-19 05:52] #44 closed

[2017-03-22 08:54] greenkeeper[bot] opened #47 "An in-range update of ember-cli is breaking the build 🚨"
## Version **2.12.1** of [ember-cli](https://github.com/ember-cli/ember-cli) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/offirgolan/ember-burger-menu/compare/greenkeeper%2Fember-cli-2.12.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-cli
    </td>
  </tr>
  <tr>
    <th

[2017-04-03 12:59] qqnix9 opened #54 "Error"
//tempaltes/components/sidebar-c.hbs
[code]
//components/sidebar-c.js
[code]

when i close menu i have error in console:
[code]
//package.json

[code]

[2017-04-06 04:52] offirgolan commented on #54
@qqnix9 thanks for creating this issue. I'll take it a look into it this week / weekend.

[2017-04-10 19:47] #47 closed

[2017-04-12 20:11] greenkeeper[bot] opened #59 "An in-range update of ember-data is breaking the build 🚨"
## Version **2.12.2** of [ember-data](https://github.com/emberjs/data) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/offirgolan/ember-burger-menu/compare/greenkeeper%2Fember-data-2.12.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-data
    </td>
  </tr>
  <tr>
    <th alig

[2017-04-13 16:25] devinholloway opened #61 "Animation type that doesn't cover or push contents off screen"
It appears that each of the animation types either cover up the screen contents (slide) or push the contents off the screen (reveal). It would be great to have the ability for the content area to use up 100% of available space when the menu is opened and closed.

[2017-04-13 22:45] #61 closed

[2017-04-13 22:49] offirgolan commented on #61
@devinholloway done 😄

See demo: https://offirgolan.github.io/ember-burger-menu/#/?animation=slide-shrink

[2017-04-14 00:23] devinholloway commented on #61
Perfect!

[2017-04-14 15:53] devinholloway commented on #54
I see the same error in the console, but it doesn't seem to negatively affect the application.

[2017-04-21 22:25] jerelmiller opened #63 "Scrolling is janky on iOS"
When using this on an iOS device, the scrolling seems a bit janky for the main content area. The hardware-accelerated scrolling is no longer there. I also notice that the typical iOS trick by tapping the iOS status bar to scroll all the way up to the top does not currently work.

Tested with iOS 10 in Safari and Chrome

I've done a bit of inspection myself and it seems like the problem originates

[2017-04-22 14:19] greenkeeper[bot] opened #67 "An in-range update of ember-cli is breaking the build 🚨"
## Version **2.12.2** of [ember-cli](https://github.com/ember-cli/ember-cli) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/offirgolan/ember-burger-menu/compare/greenkeeper%2Fember-cli-2.12.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-cli
    </td>
  </tr>
  <tr>
    <th

[2017-04-24 18:35] Moxide opened #69 "JQuery warnings when swiping"
Hello,
In Chromium, when I start to swipe the menu (and during the swiping), hundreds of warning are thrown in the console :
[code]
As it is stated in [chromestatus](https://www.chromestatus.com/features/5093566007214080), `preventDefault` is no longer necessary and if a remove this call from the `touchMove` event in `swipe-support.js`, the warnings are gone ;-)

[2017-04-24 19:48] #59 closed

[2017-04-24 19:48] #67 closed

[2017-04-24 19:48] offirgolan commented on #63
@jerelmiller thanks for bringing this to my attention. I'll look into it sometime this week/weekend.

[2017-04-24 19:49] offirgolan commented on #69
@Moxide thanks for bringing this to my attention. I'll look into it sometime this week/weekend.

[2017-05-03 19:33] markmm9 opened #75 "love the look and function of Ember Burger Menu!"
but...I am a designer more than a developer. I know enough  be dangerous tho, like dropping in css into my WP site or editing some html in spots.

but my question for offirgolan is, is there a layman's/noob guide for how a rank beginner (that would be me) would install this code on their WP site? (please)

Thanks for any help you can give.
Mark

[2017-05-04 04:03] Hucxley opened #76 "Documentation doesn't explain enough to get started"
I'm getting an assertion error: "Assertion Failed: A helper named "burger.menu" could not be found".

This looks great, with plenty of options, but nothing that really explains how to use them.  I don't know how to set options for the menu, even though your demo site has tons of options that you've already created and set up.

Is there any way to get some better documentation for the rest of it li

[2017-05-07 22:54] offirgolan commented on #76
@Hucxley I'm not sure what you mean. The Readme has all the options for each components laid out and explained. Is there something specific you do not understand?

As for your error, can you post a snippet of your code? Maybe I can be of better help then 😄

[2017-05-07 23:04] offirgolan commented on #75
@markmm9 thank you for the kind words 😍. Unfortunately, this library is for EmberJS only and does not support WP. I was able to find a WP plugin [here](https://wordpress.org/plugins/responsive-menu/) that has similar functionalities as this repo but I'm not sure if thats what you're looking for.

All the CSS from this repo can be found here:

- [Default Styles](https://github.com/offirgolan/ember-

[2017-05-08 13:56] markmm9 commented on #75
ah, ok, thanks Offir!
On May 7, 2017, at 7:04 PM, Offir Golan <notifications@github.com> wrote:

@markmm9 <https://github.com/markmm9> thank you for the kind words 😍. Unfortunately, this library is for EmberJS only and does not support WP. I was able to find a WP plugin here <https://wordpress.org/plugins/responsive-menu/> that has similar functionalities as this repo but I'm not sure if thats wha

[2017-05-08 22:57] #75 closed

[2017-05-08 23:43] #69 closed

[2017-05-09 07:00] dephora opened #78 "this.removeEventListener is not a function"
First off, really appreciate the addon.

I'm intermittently receiving the error in the title (and picture below). It can be duplicated 100% of the time if ember-scrollable is installed (haven't looked into the relation there). The addons don't have to be in the same route for the issue to occur.

As a temp fix I changed lines 69-77 in burger-menu.js as I don't require `dismissOnClick` or `dismissO

[2017-05-09 09:12] offirgolan commented on #78
Hi @dephora thank you creating this issue. I believe that this issue has something to do with a dependency collision of `ember-lifeline`.

`ember-scrollable` requires `ember-lifeline` **v1.0.0** where as this addon require **v1.0.4** which has the `removeEventListener` function.

Are you using yarn? If not, please consider switching to it as it should solve this issue.

[2017-05-09 09:13] offirgolan commented on #54
@qqnix9 @devinholloway please see #78 for the solution.

[2017-05-09 09:13] #54 closed

[2017-05-09 20:19] dephora commented on #78
@offirgolan

I created a new project with yarn as the default, installed both addons. yarn.lock had both 1.0.0 and 1.0.4 of ember-lifeline. Same error.

Created a fork of ember-scrollable, changed the lifeline dep to 1.0.4, used the fork instead and updated with yarn install. This removed the 1.0.0 lifeline and all seems to be working fine.

What would be the best course of action from here?

[2017-05-10 04:30] offirgolan commented on #78
@dephora I made a new patch release on ember-scrollable with the fix. Please update to `v0.4.6` 😄

[2017-05-10 05:33] dephora commented on #78
@offirgolan Perfect, everything appears to be working now. Really appreciate the quick responses.

[2017-05-10 05:38] offirgolan commented on #78
Sweet! No problem at all. This has been an issue for a couple of other people and I had no idea why it was happening since I couldnt reproduce it. Thanks for creating the detailed issue 😄.

[2017-05-10 05:38] #78 closed

[2017-06-16 20:37] nibbcnoble opened #84 "animations"
I don't see in the documentation where it says how to actually use an animation such as scale or slide-rotate.  Where would I add that ?

[2017-06-16 21:00] #84 closed

[2017-06-16 21:06] dbollinger opened #85 "Access burger menu context from ember route?"
I have a use case where I want to conditionally trigger opening and closing the menu during route transitions.  Additionally, it would be nice to be able to send actions from components in nested routes up to the application to trigger opening and closing the burger menu.

From what I can tell, this seems like it is out of the scope of this add-on.  Is this a correct assumption?

[2017-06-16 22:19] offirgolan commented on #85
@dbollinger I would create a `burger-menu` service that has an `open` property. Once created, you can pass it to the component like so `{{burger-menu open=burgerMenuService.open}}`.

Now you can inject your service anywhere in your app and toggle the open state of the menu.

[2017-06-16 22:28] dbollinger commented on #85
That makes perfect sense.  Thank you!

Did not think to pass the property into the component like that.

[2017-06-16 22:29] offirgolan commented on #85
No problem at all 😄

[2017-06-16 22:29] #85 closed

[2017-06-17 17:13] josiahbryan opened #86 "3D Transforms Break scrollTop and position: fixed"
I stumbled across a really weird problem - when using e-b-m, I can't get scrollTop for my app - it always returns 0!!

I don't know how that's related to e-b-m, but I do know that when I tried to remove the "height:100%" I was using on my html/body elements, I could get scrollTop - but then my navbar ("position: fixed" - bootstrap) was suddenly not "fixed!"

(NOTE: I tried EVERYTHING to get scroll

[2017-06-24 19:23] stanleyxu2005 opened #87 "Love it but I use jQuery and AngularJS. How to migrate"
This is the best burger menu component I even see. But I'm working on an angular based application. It is quite easy to run jQuery inside angular app. I read a few about Ember.js. It is quite similar to angular. I dont know, whether I can load Ember.js into angular app. But it is definitively not a good idea. So do you have any suggestion, how to use this component into angular v1 app?

[2017-06-25 18:27] #87 closed

[2017-06-25 18:28] stanleyxu2005 commented on #87
I'm managed to create my own one. Inspired from the look and feel. Thank you for creating this.

[2017-06-26 06:57] offirgolan commented on #86
@josiahbryan let me investigate this. I believe I'm running into the same issue on one of my projects as well.

[2017-06-27 17:08] offirgolan commented on #86
@josiahbryan I actually have not been able to reproduce this in my app. I have `postion: fixed` working as intending within a burger menu outlet. Any chance you can reproduce this in a twiddle or a dummy app so I can play around with it?

[2017-06-27 17:55] josiahbryan commented on #86
I really appreciate you looking into this! Unfortunately, my production
needs have dictated that I move forward with the application regardless, so
I moved to a different menu solution. I will gladly attempt to reproduce
this when we wrap up development on the current app, but I won't be able to
take time to set up a reproduction anytime soon. So sorry for the trouble!
I really appreciate you look

[2017-06-28 04:04] offirgolan commented on #86
No worries at all, I totally understand. I'll keep this issue open 😄

[2017-06-30 17:21] maxwerr opened #89 "How to lock menu open and continue to view rest of app normally?"
I'm using the menu `locked` `open`, `translucentOverlay=false` on large enough device sizes, but the outlet for the rest of the app is translated/obfuscated and not very usable... Is there any way to handle this using the burger menu options? Thanks!

[2017-06-30 17:23] offirgolan commented on #89
@maxwerr if you intend to have to menu open, I would use the `squeeze` animation as it also shrinks the outlet to accommodate for the menu.

[2017-06-30 17:24] maxwerr commented on #89
ohhhh 👀 perfect. I missed that one on the demo page. thanks for the lightning response!

[2017-06-30 17:24] #89 closed

[2017-06-30 17:26] offirgolan commented on #89
No problem at all! 😄

[2017-07-05 18:52] RobIsHere commented on #86
Adding a container to the top level of my app is also the reason why I can't use this. It looks really well enginered.

The Transforms and also "will-change" in css initiate a "new coordiate system" in chrome that will we used by position fixed elements.

You can read a lot about this chrome bug, the issue is near to its 10th anniversary :(

I've experience with that because liquid fire also suffe

[2017-07-07 22:18] mrhanky17 opened #90 "Adding LESS files"
Hi,
would it be possible to also have LESS stylesheets? I don't know (right now) how much work this would be, but I think having less available would be neat for users using Semantic UI or other LESS based frameworks.

Any thougts on this?

[2017-07-08 06:29] offirgolan commented on #90
@mrhanky17 I dont think that is something that will be supported in the near future. You are welcome to use v2.x which doesnt require your app to use sass (it uses sass internally but serves up a compiled css file to your application).

[2017-07-15 12:03] emanuelschmitt commented on #76
I have the same problem here, I installed the plugin via ember-cli and I can't import the sass files into my style.scss and also the helper is not found. I check node_modules and the folder for burger menu is available. It seems that burger menu is not added to the build path... :/

[2017-07-16 22:05] juanazam opened #91 "Problems with acceptance testing"
Hi,

First of all, thanks for all the hard work on this great addon, it works great!

I'm having issues with opening the menu while writing acceptance tests. I tried pausing the test and opening the menu manually but it refuses to work on the acceptance test environment.

Maybe I'm missing something, but it seems it just doesn't work.

[2017-07-18 08:54] pusle commented on #76
I have the same problem as @emanuelschmitt regarding the `@import 'ember-burger-menu` after doing an `ember install ember-burger-menu` on ember 2.10. All scss files are installed in the _node_modules/ember-burger-menu/app/styles_, but importing them in the ember app is not working. I feel there is something I'm doing wrong, so perhaps something is missing from the docs?

[2017-07-18 08:55] emanuelschmitt commented on #76
You have to reload your dev server. Close the ember server process and restart it again, then it will work!

[2017-07-18 12:11] pusle commented on #76
@emanuelschmitt Sorry for wasting your time. I can not believe I made that mistake!

[2017-07-20 21:49] ptingiris opened #92 "Is there documentation for how to set up multiple menus?"
First -- great plugin!  Sorry if I missed something, but I can't find any documentation for how to set up multiple menus like the ones shown on the demo page.  So far, everything else works like a charm!

[2017-07-21 00:13] #76 closed

[2017-07-21 00:16] offirgolan commented on #92
@ptingiris the demo is not a true representation of how to setup multiple menus (it's mostly just for show). The only way it would actually work is if you nested them.

[code]

[2017-07-21 00:17] offirgolan commented on #91
@juanazam I'm not sure. Can you post some screenshots and some code samples?

[2017-07-21 19:38] juanazam commented on #91
@offirgolan The only problem is that the menu transformations are not displayed. The menu is never displayed as open when the test is running. You can do assertions on its content but visually it's not working. I guess this is not a big deal but it is a bit missleading.

[2017-07-24 04:48] offirgolan commented on #91
Huh thats weird. It could be some viewport CSS issues. My suggestion would be to use `pauseTest()` and see what the width / height of the parent containers are for the ember-burger-menu element. If that doesnt work, let me know and I'll try to figure out whats going on.

[2017-07-24 12:51] juanazam commented on #91
@offirgolan It seems that the scaling done to show the app within the testing container is messing up with `ember-burger-menu`'s CSS. I already used `pauseTest()` but I was not able to figure out why it's not being displayed as it should.

[2017-07-24 17:16] offirgolan commented on #91
Ah damn. Okay I'll investigate this further and see if I can figure something out.

[2017-07-24 17:16] #90 closed

[2017-07-30 18:55] ivanhueso opened #93 "Style issue"
Hi,
I've installed the plugin and go through all the setup include the `@import 'ember-burger-menu'` but the style is not getting applied. I'm using the latest ember  version 2.14

[2017-07-31 22:07] offirgolan commented on #93
What do you mean the styles arent being applied?

[2017-07-31 23:23] #93 closed

[2017-09-08 10:36] donaldwasserman opened #94 "Ember 2.15 Actions Not Found"
I just upgraded my app to ember 2.15. The various `burger.state.actions.<toggle | open | close>` result in an undefined error:

`Error: Assertion Failed: You specified a quoteless path, `toggle`, to the {{action}} helper which did not resolve to an action name (a string). Perhaps you meant to use a quoted actionName? (e.g. {{action "toggle"}}).`

Reverting ember-source, ember-cli back to 2.14 seem

[2017-09-09 00:23] offirgolan commented on #94
@donaldwasserman any chance you can recreate this in a dummy app?

[2017-09-09 09:57] donaldwasserman commented on #94
Hey - Sorry about this. For some reason this is happening my app, but i can't recreate in isolation. Apologies.

[2017-09-09 09:57] #94 closed

[2017-09-13 10:47] donaldwasserman commented on #94
For the google:

I put one of the state actions inside a partial inside the `{{burger.outlet}}` [example](https://github.com/donaldwasserman/burger-demo/blob/master/app/templates/application.hbs#L31 )

I couldn't find any release notes or documentation about it, but it doesn't appear you can access the component context like that

[2017-09-14 02:36] eduardo-hyodo opened #96 "Problems with setup"
Hey guys,

Was having trouble making this work in my project, so I decided to create a brand new 2.14 project to see if I can get it to work... and I still cannot.

What step am I missing?

I basically did:
`ember new dummy `
`cd dummy`
`ember install ember-burger-menu`
`ember g template index `

then I went into application template and pasted the code from the documentations (just changed the li

[2017-09-14 15:10] Mithrilhall commented on #96
@eduardo-hyodo

I had a similar experience. I ended up grabbing the css used in the demo to make it show and just used what I needed.

[CSS](https://offirgolan.github.io/ember-burger-menu/assets/dummy-62e707c579556b21451abadaed88dafb.css)

[2017-09-15 07:07] offirgolan commented on #94
@donaldwasserman thanks for the follow up! I'm glad you were able to find the root cause for the issue. Hopefully it gets fixed in a patch release soon 😄

[2017-11-28 18:58] donaldwasserman opened #97 "Ember Lifeline No Longer Supports jQuery selectors"
I just updated ember-light-table to 1.12.2 (from 1.8.6), which bumped `ember-lifeline.`

Ember-Lifeline stops supporting jquery selectors here https://github.com/rwjblue/ember-lifeline/blob/master/addon/mixins/dom.js, resulting in: `Called addEventListener with selector not found in DOM [Object: Object]`

PR forthcoming.

[2017-11-29 16:20] lypborges commented on #97
Same error here.

[2017-12-01 00:51] #97 closed

[2017-12-01 01:04] offirgolan commented on #92
Closing as this issue has been abandoned. Feel free to reopen if needed.

[2017-12-01 01:04] #92 closed

[2017-12-01 01:04] offirgolan commented on #96
Closing as this issue has been abandoned. Feel free to reopen if needed.

[2017-12-01 01:04] #96 closed

[2017-12-27 17:35] rennomarcus opened #99 "Component not being displayed as it should"
Hi, I tried using this addon in a fresh ember project and it didn't look right. I can see the some of the css being loaded.
None of the items are shown (they are in the html body, though). I'm wondering what I can do to make it work nicely like the demo. Thanks in advance!

| App / addon | version |
|  -------------  | ------------- |
| Ember | 2.17.0 |
| Ember Data | 2.17.0 |
| Ember-cli | 2.17.2

[2017-12-28 15:11] rennomarcus commented on #99
Similar problem here https://github.com/offirgolan/ember-burger-menu/issues/96
Looks like the default CSS doesn't display the items by default. I will try to create a PR if it's ok.

[2017-12-28 17:26] rennomarcus commented on #99
I'll close this. After looking more and playing around the code it makes much more sense to me why it wasn't showing the items and how to make them show with my own CSS. The menu takes the height of the outlet. If the developer is not  happy with this approach he/she can use position absolute insted of relative for .ember-burger-menu. Great addon!

[2017-12-28 17:27] #99 closed

[2018-01-11 00:40] richipargo opened #101 "DEPRECATION: project.nodeModulesPath"
Deprectaion warning
An addon is trying to access project.nodeModulesPath. This is not a reliable way to discover npm modules. Instead, consider doing: require("resolve").sync(something, { basedir: project.root }). Accessed from:   new NPMDependencyVersionChecker (/home/richipargo/Projects/Eucledian/eucledian-web/node_modules/ember-burger-menu/node_modules/ember-cli-version-checker/src/npm-dependen

[2018-01-14 01:02] #101 closed

[2018-01-14 01:04] offirgolan commented on #101
Should be resolved in `v3.0.2`

[2018-02-13 18:23] josemarluedke opened #105 "Remove usage of jQuery"
HI there! Thanks for this project. It is awesome.

I would like to use this in one app that we don't want to ship jQuery and with the movement in the Ember itself to [allow jQuery to be optional](https://github.com/emberjs/rfcs/pull/294), it seems to be a great moment to think about that.

I would like to understand that ware the required changes needed to allow us to not use jQuery within this pr

[2018-02-26 21:15] knownasilya opened #106 "Closure action not working with toggle"
The following doesn't work:

[code]

This does:

[code]

`onToggleMenu` is `burger.state.actions.toggle`

[2018-04-25 06:39] erichonkanen opened #107 "How could I use this with ember-elsewhere?"
I'm wondering how hard it would be to set this component up inside an [ember-elsewhere](https://github.com/ef4/ember-elsewhere) container that is rendered in place as opposed to the way the docs currently state to set it up?

I would like to be able to have this button to toggle a menu:
[code]
Using my elsewhere container:
[code]
This is much more ideal because I can render a menu in-place from di

[2018-04-28 21:55] erichonkanen commented on #107
went with another solution that supports ^^, thanks

[2018-04-28 21:55] #107 closed

[2018-06-18 16:01] acorncom commented on #105
I'd be interested in seeing this happen as well. Can probably pitch in to help if we can come up with a quest issue to knock everything out ...

[2018-07-12 08:08] JonForest opened #108 "Feature Request: "Closed"

[2018-07-17 19:32] josemarluedke commented on #105
Just got a PR for removing the jquery usage in the components.

There are other instances of jquery, but they are only in test env. It would be awesome if someone else took the other items.

[2018-07-29 05:59] offirgolan commented on #108
No worries! I assumed this was opened by mistake 🙂

[2018-07-31 06:35] josemarluedke commented on #105
@offirgolan If you do find time, I would love if you took a look at migrating `triggerSwipeEvent` out of jQuery.

I can take a look myself on removing the remaining jQuery usage in the tests.

[2018-08-02 22:49] #105 closed

[2018-08-15 21:47] luxferresum opened #114 "Multiple menus with push animation"
Is this possible?

I mean I can wrap two `burger-menu`s. But is this a good idea? And is there a nicer solution?

[code]

[2018-08-22 22:14] alexdiliberto opened #115 "Win-IE11: console errors breaking application"
Ran into a problem after I updated my application from [v3.1.0](https://github.com/offirgolan/ember-burger-menu/releases/tag/v3.1.0) to [v3.3.1](https://github.com/offirgolan/ember-burger-menu/releases/tag/v3.3.1) and then testing on IE11. When I did this, I first noticed there were certain parts of the app that didn't fully load and click event handlers were not working.

Digging into the console

[2018-08-27 22:45] #115 closed

[2018-09-04 11:38] jbuget commented on #63
I found a clean solution.

In your html& body classes definition, just add Webkit property `-webkit-overflow-scrolling: touch` :

[code]

[2018-09-19 13:37] knownasilya commented on #63
I've also seen opening the menu happening from the middle of the screen, causing issues when using something like a map. Panning the map around would randomly open the menu. Is this maybe related?

[2018-10-24 15:39] noslouch opened #117 "FastBoot compat"
Starting a new app and using the template provided in the docs throws an error in FastBoot:
[code]

Specifically [this line](https://github.com/ForbesLindesay/matches-selector/blob/master/index.js#L3) from the `matches-selector` package, which is a required by `closest`:
[code]

Which is intended to run in a browser environment only. I'm not exactly sure how, but can you wrap that `closest` import

[2018-10-26 16:18] noslouch commented on #117
EDIT: that line from above is actually from a newer version of `matches-selector`. The line in the version of `matches-selector` that `closest` specifies is actually this:
[code]
#118 ups the version of `matches-selector` to use the node-safe version of that line.

[2019-03-09 22:29] KyuubiKeith opened #119 "new ember sparks"
so I just started learning ember and am mainly focused on front end dev...for some reason...I cant seem to set up all the  files or set up the component well...could you please update the readme or maybe help me out with more instructions on how to set it up?

[2019-03-28 20:02] alexlafroscia commented on #119
What part are you getting stuck on? Can you provide some details on what steps you've tried and where things went wrong?

[2019-03-30 03:07] KyuubiKeith commented on #119
After installing the menu....i cant seem to get it to work right....i
created a nav-bar component and put the code in there...but on loading my
server it doesn't render...and actually breaks everything else...I'm having
a setup problem...if not too much to ask...what is the right way to set it
up in my custom nav-bar component as a button?

On Thu, Mar 28, 2019, 11:02 PM Alex LaFroscia <notificati

[2019-05-06 22:35] pax7 opened #120 "side by side with ember-bootstrap"
Hi - can you please provide some guidance on how to best make this work with ember-bootstrap? My use case is that I want to use it in a component with a form that expands and a table in the outlet. Right now the content is not expanding vertically. This is the other stuff in my app.scss:
`@import "ember-bootstrap/bootstrap";
@import "ember-power-select/themes/bootstrap";
@import "ember-power-selec

[2019-06-05 23:39] aalimovs opened #121 "Octane"
Is anyone using `ember-burger-menu` with Octane?

I can't seem to toggle the burger `open` state from outside.

[code]

`burger-menu` seems not to react to `this.isOpen` at all. If I set it initially to true, it does render opened, but as I change `this.isOpen`, the menu never appears again.

[2019-06-06 21:04] lifeart commented on #121
@aalimovs `<button onclick={{action (mut this.isOpen) (not this.isOpen)}}>Toggle</button>`

[2019-06-06 21:11] aalimovs commented on #121
@lifeart no luck. I can see `this.isOpen` is being mutated on every toggle when I print `{{this.isOpen}}` in the template, but `burger-menu` doesn't open

[2020-05-18 14:54] knownasilya commented on #121
The issue is async observers. This is setup https://github.com/offirgolan/ember-burger-menu/blob/master/addon/components/burger-menu.js#L78 before the menu open event is finished and closes the menu with the `onClick` handler.

[2020-05-26 01:15] #121 closed

[2020-09-17 07:46] wuarmin commented on #93
@ivanhueso I have the same issue. How did you solve your issue?

[2021-12-08 01:16] tythewebguy opened #148 "Is ember-burger-menu abandoned?"
Things broke in `ember-burger-menu` when I recently upgraded to Ember 3.27 in preparation for the 3.28LTE and future 4.0 version. It looks like things have been quiet around here and development stopped on Ember 3.3.

Is this add-on now abandoned?

[2022-05-11 20:13] rwwagner90 commented on #148
@tythewebguy yeah, it is abandoned. @offirgolan want to transfer this one to adopted-ember-addons as well?

[2022-06-03 03:04] rwwagner90 commented on #148
@tythewebguy Got it transferred and I am currently updating all the things!

[2022-06-03 03:04] #148 closed

[2022-06-03 03:05] #120 closed

[2022-07-18 07:03] kevintraver opened #175 "Ember htmlSafe is now part of @ember/template"
For newer version of Ember, `htmlSafe` is now part of `@ember/template` instead of `@ember/string`

https://github.com/adopted-ember-addons/ember-burger-menu/blob/cc934f00f6e02d4679ada8e0c6404bf84be98f87/addon/utils/css-stringify.js#L2

[2022-07-20 02:57] rnosek commented on #175
Looks like dasherize is still apart of '@ember/string'

` import { htmlSafe } from '@ember/template';
 import { dasherize } from '@ember/string'; `